* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.none {
  display: none !important;
}

/* Hedaer */
.header {
  width: 100%;
  height: 100vh;
  background-color: #556983;
  background-image: url("./../img/hedaer/header\,bj.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.header-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}

.header-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #fff;
}
/* services */
.services {
  padding-top: 80px;
  padding-bottom: 115px;
}

.services-header {
  margin: 0;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #000;
}

/* card */
.services-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 30px;
  padding: 20px;
  max-width: 540px;
  background-color: #fff;
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
}

.card:last-child,
.card:nth-last-child(2) {
  margin-bottom: 0;
}

.card-img {
  margin-bottom: 20px;
}

.card-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #000;
}

.card p {
  margin: 0;
  font-size: 16px;
  line-height: 130%;
  color: #000;
}

/* Footer */

.footer {
  padding-top: 45px;
  padding-bottom: 130px;
  background: #1e4776;
  color: #fff;
}

.footer-row {
  display: flex;
  flex-direction: row;
}

.footer-copyright {
  max-width: 350px;
  color: #7e9ec9;
  line-height: 1.3;
}

.footer-copyright-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

.footer-contacts {
  max-width: 350px;
  padding-left: 40px;
}

.footer-button {
  display: inline-block;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;

  border: 3px solid #fff;
  border-radius: 50px;

  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 44px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contacts p {
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.3;
}
